


  <div class="panel panel-default col-md-offset-2 col-md-8">
	<div class="panel-body">
          <h1>Check je ei</h1>
          <p>Controleer de code op je eieren:</p>
            <div id="custom-search-input">

                <div class="input-group col-md-6 col-md-offset-3">
                    <input id="ei" type="text" class="form-control input-lg" placeholder="Check je ei" />
                    <span class="input-group-btn">
                        <button onclick="window.location = '/zoek/' + _.toLower(ei.value); return false;" class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>

            </div>
          <br>
          {{#if Fout}}
          <p>{{Fout}}</p>
          {{/if}}
  </div>
</div>
