


  <div class="panel panel-default">
	<div class="panel-body">
          <h1>{{ Title }}</h1>
          <p>{{ Results }}</p>
          <p>Je hebt gezocht op code: {{ Code }}. <a href="/">Zoek opnieuw.</a></p>
	</div>
</div>
